

.brand-name {
  font-family: "Gilbeot TG", "Gowun Dodum", sans-serif;
}
#main-navbar li {
  list-style: none;
  margin-bottom: 12px;
}
#main-navbar li:last-child {
  margin-bottom: 0px;
}
#main-footer {
  margin-top: 2rem;
}
#main-content-pane {
  padding-inline: 20px;
}
#main-profile-table {
  display: flexbox;
  width: 50%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  line-height: 1.6;
}
#main-profile-table td:first-child {
  padding-inline-end: 1rem;
  text-align: end;
}
#main-profile-table td:nth-child(2) {
  border-inline-start: 1px solid var(--subtext-1);
  padding-inline-start: 1rem;
  width: auto;
}
#main-profile-table .profile-picture {
  width: 250px;
  height: 250px;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 5px solid var(--pink);
  border-radius: 125px;
}
.breadcrumb:after {
  content: " >"
}
.katex-display {
  width: 100%;
  overflow-inline: auto;
  scrollbar-width: 0;
}
::-webkit-scrollbar {
  display: none
}
