/* 종이에 프린트 하기 위한 설정 */
@media print {
  button {
    display: none;
  }
  #main-navbar {
    display: none;
  }
  #main-content-pane {
    visibility: visible;
    font-size: 10pt;
    color-scheme: light;
    margin-block-start: 1em;
  }
  .code-block {
    display: flexbox;
    flex-direction: row;
  }
  .code-block .bar {
    display: flex;
    flex-direction: row;
  }

  .code-block .bar .title {
    flex-grow: 1;
  }
  .code-block .content {
    max-height: none;
    overflow-y: visible;
    break-inside: avoid;
  }
  .code-block .content .chroma {
    break-inside: avoid;
  }
  .figure .figure-wrap {
    white-space: break-spaces;
    object-fit: scale-down !important;
  }
  .figure .figure-wrap .figure-image {
    min-height: 5cm;
    max-height: 10cm;
  }
  .figure .figure-wrap .invertible {
    filter: none !important;
  }
  .figure .figure-wrap .invertible-light {
    filter: invert() !important;
  }
}